@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 21 32 43;
  --button-color-rgb: 29 155 240;
}

body {
  color: rgb(var(--foreground-rgb));
}

button {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--button-color-rgb));
}
